In [1]:
import tensorflow as tf
import keras
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
df = pd.read_csv('Desktop/Artificial_Neural_Networks/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df = df.drop(['Surname','RowNumber','CustomerId'],axis=1)

In [4]:
X = df.drop('Exited',axis=1)
y = df['Exited']

from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from sklearn.compose import ColumnTransformer

label_encoder_X = LabelEncoder()
X['Geography'] = label_encoder_X.fit_transform(X['Geography'])

label_encoder_g = LabelEncoder()
X['Gender'] = label_encoder_g.fit_transform(X['Gender'])

ct = ColumnTransformer([("Geography", OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)
X = X[:,1:]

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [6]:
from sklearn.preprocessing import StandardScaler
Sc = StandardScaler()
X_train = Sc.fit_transform(X_train)
X_test = Sc.fit_transform(X_test)

In [7]:
classifier = Sequential()
classifier.add(Dense(units=6,init = 'uniform',activation='relu',input_dim = 11))
classifier.add(Dense(units=6,init='uniform',activation='relu'))
classifier.add(Dense(units=6,init='uniform',activation='relu'))
classifier.add(Dense(units=1,init='uniform',activation='sigmoid'))

C:\Users\L\Anaconda3\envs\Tf\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=6, activation="relu", input_dim=11, kernel_initializer="uniform")`

C:\Users\L\Anaconda3\envs\Tf\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=6, activation="relu", kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\L\Anaconda3\envs\Tf\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=6, activation="relu", kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\L\Anaconda3\envs\Tf\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=1, activation="sigmoid", kernel_initializer="uniform")`
  """

In [8]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=["accuracy"])

In [9]:
classifier.fit(X_train,y_train,batch_size=10,epochs=10)

Epoch 1/10
8000/8000 [==============================] - 1s 101us/step - loss: 0.4844 - accuracy: 0.7915
Epoch 2/10
8000/8000 [==============================] - 1s 86us/step - loss: 0.4329 - accuracy: 0.7920
Epoch 3/10
8000/8000 [==============================] - 1s 83us/step - loss: 0.4261 - accuracy: 0.8098
Epoch 4/10
8000/8000 [==============================] - 1s 83us/step - loss: 0.4230 - accuracy: 0.8250
Epoch 5/10
8000/8000 [==============================] - 1s 82us/step - loss: 0.4201 - accuracy: 0.8271
Epoch 6/10
8000/8000 [==============================] - 1s 81us/step - loss: 0.4187 - accuracy: 0.8285
Epoch 7/10
8000/8000 [==============================] - 1s 83us/step - loss: 0.4181 - accuracy: 0.8307
Epoch 8/10
8000/8000 [==============================] - 1s 92us/step - loss: 0.4160 - accuracy: 0.8310
Epoch 9/10
8000/8000 [==============================] - 1s 86us/step - loss: 0.4145 - accuracy: 0.8309
Epoch 10/10
8000/8000 [==============================] - 1s 85us/step - loss: 0.4136 - accuracy: 0.8325 0s - loss: 0.3694 - accuracy - ETA: 0s - loss: 0.3959 -

In [10]:
pred = classifier.predict(X_test)
pred = (pred > 0.5)

from sklearn.metrics import confusion_matrix
ConM = confusion_matrix(pred,y_test)
print(ConM)

[[1576  261]
 [  51  112]]